<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
  
    <%= f.email_field :email, placeholder: "email", autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>




<div class="form-group"> 
    <%= f.text_field :name, placeholder: "your Name", class: "form-control" %>

 </div>

<div class="form-group"> 
    <%= f.text_field :username, placeholder: "Choose a @username", class: "form-control" %>

</div>


 <div class="form-group"> 
    <%= f.text_field :location, placeholder: "Location", class: "form-control" %>

</div>



 <div class="form-group"> 
    <%= f.text_field :bio, placeholder: "Who ahh you!?", class: "form-control" %>

</div>


<div class="form-group"> 
  <STRONG>Upload a Profile Pic:</STRONG>
  <%=f.file_field :avatar %>
</div> 


  <div class="form-group">
  
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "password", autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="form-group">

    <%= f.password_field :password_confirmation, placeholder: "confirm password", autocomplete: "new-password", class: "form-control" %>
  </div>



  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
